<!DOCTYPE html>
    <head>
        <title>DEVELOPER MODE</title>
        <link rel="stylesheet" href="../style.css">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="https://fonts.googleapis.com/css?family=Merriweather&display=swap" rel="stylesheet">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <!--Universal Elements-->
            <script src="universal/alert_uni.js"></script>
            <script src="universal/header_uni.js"></script>
            <script src="universal/footer_uni.js"></script>
        <!--Universal Elements-->
        
    </head>
    
    <!--Body starts here-->

    <body>
        <!--Alert Box-->
        <div class="dangeralert">
            <i class="material-icons" style="font-size:30px;  position:relative; top: 8px;">error</i>
            <p style="display: inline-block;">Danger Alert</p>
        </div>
        <!--Alert Box Ends-->
        <!--Alert Box-->
        <div class="warningalert">
            <i class="material-icons" style="font-size:30px;  position:relative; top: 8px;">warning</i>
            <p style="display: inline-block;">Warning Alert</p>
        </div>
        <!--Alert Box Ends-->
        <!--Alert Box-->
        <div class="successalert">
            <i class="material-icons" style="font-size:30px;  position:relative; top: 8px;">done</i>
            <p style="display: inline-block;">Success Alert</p>
        </div>
        <!--Alert Box Ends-->
        <!--Header Element-->
            <div class="header"></div>
        <!--Header Element Ends-->

        <!--Main Body Element-->
        <h1>I should finish this....</h1>
        <!--Main Body Element Ends-->
        
        <!--Footer Element-->
            <div class="footer"></div>
        <!--Footer Element Ends-->
    </body>